@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*
ref: color theme
https://www.canva.com/colors/color-palettes/secret-passageway/  
 */
:root {
  --primary: #1a4314;
  --secondary: #2c5e1a;
  --tertiary: #32cd30;
  --quaternary: #b2d2a4;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
